<nav >
 
  <mat-card ><a  href="#">Enterprise Login Project App</a></mat-card>
  
  <!--<nav class="navbar navbar-default">-->
    <mat-toolbar color="primary"> 
    <ul class="nav navbar-nav navbar-left" >
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/']">Home</a></li>
    </ul>

     <ul class="nav navbar-nav navbar-right" class="navbar-nav ml-auto">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
         </ul>
          <ul class="nav navbar-nav navbar-right" class="navbar-nav ml-auto">
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/profile']" >Profile</a></li>
        </ul>

          <ul class="nav navbar-nav navbar-right" class="navbar-nav ml-auto">
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/login']" >Login</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right" class="navbar-nav ml-auto">
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/register']" >Register</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right" class="navbar-nav ml-auto">
          <li><a (click)="onLogoutClick()" href="#">Logout</a></li>
          
      </ul>
    </mat-toolbar>
    
 


</nav>

